.post-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    top: 70px;
}
.post{
    text-align: center;
    display: block;
    background-color: #EADBC8;
    width: 600px;
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
}
.post h1{
    font-size: 30px;
}
.post p{
    font-size: 22px;
    text-align: justify;
}