.home-banner{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.home-text{
    position: relative;
    top: 30px;
    height: 565px;
}
.image{
    position: relative;
    height: 565px;
    top: 50px;
}
.image img{
    width: 500px;
    margin-left: 60px;
}
.home-text h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home-text p{
    width: 600px;
    font-size: 20px;
    margin: 0;
}
.home-text a{
    position: relative;
    top: 30px;
    background-color: #0f2d592c;
}
.reviews{
    
}